.Workspace {
  position: absolute;
  top: 10px;
  left: 310px;

  box-sizing: border-box;
  border: 1px solid black;
  border-left-width: 0px;
  background-color: white;

  width: 800px;
  height: 700px;
}

#workspace-canvas,
#workspace-svg {
  position: absolute;
  top: 0px;
  left: 0px;
}
